
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.login-form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: 50px auto;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-form label {
    display: block;
    margin-bottom: 5px;
}
.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-form input[type="submit"]:hover {
    background-color: rgb(1, 104, 104);
}